<footer class="site-footer container medium">
    {{> customize/subscribe}}
    <div class="copyright">
	Hecho con <i class="fa fa-heart" aria-hidden="true"></i> utilizando Software Libre
    </div>
</footer>

{{^is "post"}}
    {{> player is_external=true}}
{{/is}}
