<div class="player{{#if is_external}} player-external{{else}} container large{{#unless feature_image}} no-thumbnail{{/unless}}{{/if}}">
    <audio class="player-audio"{{#unless is_external}} src="{{og_description}}"{{/unless}}></audio>
    {{> post-media ratio="square" is_placeholder=is_external}}
    <div class="player-wrapper">
        {{> post-header is_placeholder=is_external}}
        <div class="player-track hidden-xs hidden-sm hidden-md">
            <div class="player-progress"></div>
        </div>
        <div class="player-controls">
            <div class="player-buttons">
                <button class="button button-small player-button-play{{^if is_external}} hidden-xs hidden-sm{{/if}} hidden-md hidden-lg hidden-xl js-play">
                    <i class="fa fa-play" aria-hidden="true"></i>
                </button>
                <button class="button button-small button-secondary player-button-backward">
                    <i class="fa fa-backward" aria-hidden="true"></i>
                </button>
                <button class="button button-small button-secondary player-button-speed">1x</button>
                <button class="button button-small button-secondary player-button-forward">
                    <i class="fa fa-fast-forward" aria-hidden="true"></i>
                </button>
            </div>
            <div class="player-time">
                <span class="player-time-current">00:00:00</span>
                <span class="player-time-duration">00:00:00</span>
            </div>
        </div>
    </div>
</div>
