<footer class="post-footer">
    <a class="button-text post-footer-more" href="{{url}}">
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
         Leer más
    </a>
    {{#if og_description}}
        <a class="button button-small button-secondary post-footer-download"
            href="{{og_description}}" target="_blank" rel="noopener noreferrer">
            <i class="fa fa-cloud-download" aria-hidden="true"></i>        </a>
    {{/if}}
</footer>
