<div class="post-media{{#if og_description}} js-play{{/if}}{{#if is_placeholder}} js-play{{/if}}"
    data-url="{{og_description}}" data-id="{{comment_id}}">
    {{#if is_placeholder}}
        <div class="button button-play"><i class="fa fa-play" aria-hidden="true"></i></div>
    {{else}}
        {{#if og_description}}
            <div class="button button-play"><i class="fa fa-play" aria-hidden="true"></i></div>
        {{/if}}
    {{/if}}
    <div class="u-placeholder{{#if ratio}} {{ratio}}{{/if}}">
        {{^if feature_image}}
            <span class="letter">{{title}}</span>
        {{/if}}
        <img class="post-image lazyload u-object-fit" {{#if feature_image}}
            data-srcset="{{img_url feature_image size="1x"}} 1x, {{img_url feature_image size="2x"}} 2x, {{img_url feature_image size="3x"}} 3x"
            {{/if}}
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
            data-sizes="auto" alt="{{title}}">
    </div>
</div>
