<header class="post-header{{#if single}} container medium{{/if}}">
    {{#if single}}
        <h1 class="post-title">{{title}}</h1>
    {{else}}
        <h2 class="post-title">
            <a class="post-title-link"
                href="{{url}}">{{#unless is_placeholder}}{{title}}
                {{else}}...{{/unless}}</a>
        </h2>
    {{/if}}
    {{^is "page"}}
        {{#unless hide_meta}}
            <div class="post-meta">
                {{#unless is_placeholder}}
                    <span class="post-meta-item post-meta-date">
                        <time datetime="{{date format="YYYY-MM-DD"}}">
                            {{date published_at}}
                        </time>
                    </span>
                    {{#if tags}}
                        <span class="post-meta-item post-meta-tags">
                            {{#foreach tags}}
                                <a class="post-tag post-tag-{{slug}}" href="{{url}}" title="{{name}}">
                                    {{name}}
                                </a>
                            {{/foreach}}
                        </span>
                    {{/if}}
                {{/unless}}
            </div>
        {{/unless}}
    {{/is}}
</header>
