<div class="share">
    <a class="share-item"
        href="https://www.xarxa.cloud/sharer.php?u={{url absolute="true"}}"
        target="_blank" rel="noopener noreferrer">
	<i class="fa fa-mastodon" aria-hidden="true"></i>
        <span class="share-text hidden-xs hidden-sm">Compartir</span>
    </a>
    {{#if og_description}}
        <a class="share-item share-download" href="{{og_description}}"
            target="_blank" rel="noopener noreferrer">
            <i class="fa fa-cloud-download" aria-hidden="true"></i>
            <span class="share-text hidden-xs hidden-sm">Descargar</span>
        </a>
    {{/if}}
</div>
