:root {
    --brand-color: #fc7e0f;
    --primary-text-color: #5a656b;
    --secondary-text-color: #aaa;
    --white-color: #fff;
    --light-gray-color: #f6f6f6;
    --mid-gray-color: #e6e6e6;
    --dark-gray-color: #a8aab1;
    --darker-gray-color: #1a1a1a;
    --black-color: #000;
    --animation-base: ease-in-out;
    --font-base: NotoSansRegular, -apple-system, blinkmacsystemfont, segoe ui, helvetica, arial, sans-serif;
    --navbar-height: 80px;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    color: var(--primary-text-color);
    font-family: var(--font-base);
    font-size: 14px;
    line-height: 1.7;
    text-rendering: optimizeLegibility;
    word-break: break-word;
    background-color: var(--white-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: var(--darker-gray-color);
    text-decoration: none;
    transition: color 0.1s var(--animation-base);
}

a:hover {
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    color: var(--darker-gray-color);
    line-height: 1.3;
    font-weight: 500;
}

p {
    margin: 0 0 20px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

blockquote {
    margin-right: 60px;
    margin-left: 60px;
    color: var(--secondary-text-color);
    font-size: 22px;
    line-height: 1.45;
    font-weight: 500;
}

blockquote strong {
    font-weight: 700;
}

ul,
ol {
    padding-left: 20px;
}

iframe,
embed {
    display: block;
    overflow: hidden;
    width: 100%;
    border: 0;
}

figure {
    margin-right: 0;
    margin-left: 0;
}

figcaption {
    margin-top: 15px;
    color: var(--darker-gray-color);
    font-size: 14px;
    text-align: center;
}

pre {
    overflow-x: scroll;
}

code {
    font-size: 14px;
}

hr {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 5px;
    height: 5px;
    border: 0;
    background-color: var(--secondary-text-color);
    border-radius: 50%;
}

hr::before,
hr::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: var(--secondary-text-color);
    border-radius: 50%;
}

hr::before {
    right: 20px;
}

hr::after {
    left: 20px;
}

@media (max-width: 767px) {
    blockquote {
        margin-right: 0;
        margin-left: 0;
    }
}
