<!DOCTYPE html>
<html lang="{{@site.lang}}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{^is "blog"}}
        <title>{{meta_title}}</title>
    {{else}}
        <title>{{block "title"}}</title>
        {{{block "description"}}}
    {{/is}}
    <link rel="stylesheet" href="{{asset "built/screen.css"}}">
    <link rel="stylesheet" media="screen" href="http://fontlibrary.org/face/noto-sans-normal" type="text/css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css" integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous"s>

    {{ghost_head}}
</head>

<body class="{{body_class}}{{{block "body_class"}}}">
    <div class="site">
        {{> header}}
        {{#is "home"}}
            {{> cover}}
        {{/is}}
        <div class="site-content">
            {{{body}}}
        </div>
        {{> footer}}
    </div>

    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
    </script>
    <script src="{{asset "built/main.min.js"}}"></script>

    {{{block "scripts"}}}

    {{ghost_foot}}
</body>

</html>
