{{!< default}}

<div class="content-area">
    <main class="site-main">
        {{#post}}
            <article class="{{post_class}} single">
                <div class="single-media container medium{{#if og_description}} hidden-md hidden-lg hidden-xl{{/if}}">
                    {{> post-media ratio="square"}}
                </div>
                {{#if og_description}}
                    {{> player}}
                {{else}}
                    {{> post-header single=true}}
                {{/if}}
                <div class="post-content kg-canvas u-text-format">
                    {{content}}
                </div>
                <div class="container medium">
                    {{> share}}
                    <div class="author-list">
                        <h3 class="author-list-title">
                            {{#if og_description}}
                                Publicado por:
                            {{else}}
                                Escrito por:
                            {{/if}}
                        </h3>
                        {{#foreach authors}}
                            {{> author}}
                        {{/foreach}}
                    </div>
                </div>
            </article>
        {{/post}}
    </main>
</div>
