<div class="subscribe{{#if is_popup}} popup{{/if}}">
    <a href="#" class="subscribe-link" target="_blank"
        rel="noopener noreferrer">
       <i class="fa fa-xmpp" aria-hidden="true"></i>
       <span class="subscribe-text">XMPP</span>
    </a>
    <a href="https://open.audio" class="subscribe-link" target="_blank"
        rel="noopener noreferrer">
       <i class="fa fa-headphones" aria-hidden="true"></i>
       <span class="subscribe-text">Funkwhale</span>
    </a>
    <a href="https://xarxa.cloud/@novadelinux" class="subscribe-link" target="_blank"
        rel="noopener noreferrer">
       <i class="fa fa-mastodon" aria-hidden="true"></i> 
       <span class="subscribe-text">Mastodon</span>
    </a>
    <a href="{{@site.url}}/rss" class="subscribe-link" target="_blank"
        rel="noopener noreferrer">
        <i class="fa fa-podcast" aria-hidden="true"></i>
        <span class="subscribe-text">RSS Audios</span>
    </a>
    <a href="https://www.archive.org/" class="subscribe-link" target="_blank"
        rel="noopener noreferrer">
        <i class="fa fa-archive-org" aria-hidden="true"></i>
        <span class="subscribe-text">Archive.org</span>
    </a>
    <a href="{{@site.url}}/blog/rss" class="subscribe-link" target="_blank"
        rel="noopener noreferrer">
        <i class="fa fa-rss" aria-hidden="true"></i>
        <span class="subscribe-text">RSS Blog</span>
    </a>
</div>
